.faq{
    padding: 5.6vw;

    h2{
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions{
        &__item{
            background-color: #13151d;
            margin-bottom: 16px;

            &__question{
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                position: relative;
                cursor: poiter;

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    font-size: 40px;
                    align-items: center;

                }
            }
            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, 0.4s ease;

            }

            &--is-open{

                
                .faq__questions__item__question::after{
                    content: '-';
                }
                .faq__questions__item__answer{
                    height:auto;
                    overflow: visible;
                    padding-bottom: 24px;
                    transition: height, 0.4s ease;
                    

                    &__answer-list{
                        padding-left: 40px;
                        list-style-type: disc;
                        margin-top: 16px;
                        
                        

                        li{
                            margin-top: 16px;
                        }
                    } 
                }
            }
        }
    }
}